name: Website Build and Publish
on: [ pull_request ]
#on:
#  pull_request:
#    paths:
#      - website/**
jobs:
  build:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:
      # Setup Java 1.8 environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v2

      # Build application
      - name: Test and Build
        run: ./gradlew -PSWEBSITE_MAPS_API_KEY=$SWEBSITE_MAPS_API_KEY build
        env:
          SWEBSITE_MAPS_API_KEY: "${{ secrets.SWEBSITE_MAPS_API_KEY }}"
      # If main branch update, deploy to gh-pages
      - name: Deploy
#        if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: build/distributions # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch

